<div>
<img src=https://www.institutedata.com/wp-content/uploads/2019/10/iod_h_tp_primary_c.svg width="300">
</div>

# Lab 3.1.4
# *Python with MongoDB*

## Introduction to PyMongo

For this lab you will firstly need to install two programs (both for Windows and Mac users). If using Windows download then run the `msi` package in both cases.

1) MongoDB Community Server from https://www.mongodb.com/try/download/community

2) MongoDB Command Line Database Tools from https://www.mongodb.com/try/download/database-tools

**The following resources may assist Mac users:**

[Install MongoDB Community Edition on macOS](https://www.mongodb.com/docs/manual/tutorial/install-mongodb-on-os-x/)

[How to Install Latest MongoDB on macOS](https://www.youtube.com/watch?v=NLw7Tln6IeM)

[How to install HomeBrew (often this helps, if you are having issues with your setup)](https://www.youtube.com/watch?v=IWJKRmFLn-g)

In [4]:
#!pip install pymongo

In [5]:
from IPython.display import display, HTML
import pymongo
import pandas as pd
from pymongo import MongoClient
print ('Mongo version ' + pymongo.__version__)

Mongo version 4.7.3

In [6]:
# Creating a client object in our local machine

# Create a MongoClient to the running MongoDB instance
client = MongoClient('localhost', 27017)

# Check the MongoDB server version
server_info = client.server_info()
print("MongoDB Server Version:", server_info['version'])

# List all databases
databases = client.list_database_names()
print("Databases:", databases)

MongoDB Server Version: 7.0.11
Databases: ['Test', 'admin', 'config', 'local']

In [7]:
print(client.list_database_names())

['Test', 'admin', 'config', 'local']

In MongoDB, a **database** stores and manages collections of related data, similar to how you might organise files into folders on your computer.

Create a new database:

In [8]:
db = client["Test"]

# Access a collection within the "Test" database (it will be created if it doesn't exist)
collection = db["example_collection"]

# Insert a document into the collection
document = {"name": "example", "value": 42}
collection.insert_one(document)

# Verify that the database and collection have been created
databases = client.list_database_names()
print("Databases:", databases)

collections = db.list_collection_names()
print("Collections in 'Test' database:", collections)

Databases: ['Test', 'admin', 'config', 'local']
Collections in 'Test' database: ['example_collection', 'shoppers']

A **collection** in MongoDB is similar to a table in a relational database.
Collections store documents (records) in a structured format (usually in BSON, which is a binary representation of JSON).
The people collection likely contains documents related to people, such as user profiles, contact information, or other relevant data.
Each document within the people collection represents an individual person or entity.

In [9]:
print(client.list_database_names())

['Test', 'admin', 'config', 'local']

It is important to note that MongoDB is lazy: the db won't get created until data has been written to it!

Create a collection called "shoppers" (with object name `mycol`):

In [10]:
#ANSWER
My_Collection = db["shoppers"]

# Insert a document into the collection
document = {"name": "example", "value": "New World"}
My_Collection.insert_one(document)

# Verify that the database and collection have been created
databases = client.list_database_names()
print("Databases:", databases)

collections = db.list_collection_names()
print("Collections in 'Test' database:", collections)

Databases: ['Test', 'admin', 'config', 'local']
Collections in 'Test' database: ['example_collection', 'shoppers']

Create a document (i.e. a dictionary) with two name:value items
("name" = "Paul", and "address" = "Mansfield Ave") and insert
it into the "shoppers" collection:

In [11]:
#ANSWER:
document = {"name": "Paul", "address": "Mansfield AVE"}
My_Collection.insert_one(document)
collections = db.list_collection_names()
print("Collections in 'Test' database:", collections)

Collections in 'Test' database: ['example_collection', 'shoppers']

Now test for the existence of the database:

In [12]:
#ANSWER:
# List all databases
databases = client.list_database_names()

# Check if "Test" database exists
if "Test" in databases:
    print("The 'Test' database exists.")
else:
    print("The 'Test' database does not exist.")

The 'Test' database exists.

List all collections in the database:

In [13]:
#ANSWER
collections = db.list_collection_names()
print("Collections in 'Test' database:", collections)

Collections in 'Test' database: ['example_collection', 'shoppers']

Insert another record in the "shoppers" collection
("name" = "Rafa", "address" = "Holder Drive")
and return the value of the _id field:

In [14]:
new_shopper = {"name": "Rafa", "address": "Holder Drive"}
insert_result = My_Collection.insert_one(new_shopper)

# Return the value of the _id field
print("Inserted document _id:", insert_result.inserted_id)

Inserted document _id: 6672584efb1786dc7fd97f58

Given the list of dicts below, insert multiple documents into
the collection using the insert_many() method:

In [15]:
mylist = [
  { "name": "Bob", "address": "Axle St"},
  { "name": "Bib2", "address": "Green Dr"},
  { "name": "Bib3", "address": "Holly Blvd"},
  { "name": "Bob4", "address": "Castor Prom"},
  { "name": "Bob5", "address": "Parsons Way"},
  { "name": "Bib6", "address": "Watters St"},
  { "name": "Bob7", "address": "Yonder Dr"},
  { "name": "bob8", "address": "Garrison St"},
  { "name": "Bob9", "address": "Station St"},
  { "name": "Bob20", "address": "Wayman Ave"}
]

In [16]:
insert_result = My_Collection.insert_many(mylist)

# Print the _id values of the inserted documents
print("Inserted document _id values:", insert_result.inserted_ids)

Inserted document _id values: [ObjectId('6672584efb1786dc7fd97f59'), ObjectId('6672584efb1786dc7fd97f5a'), ObjectId('6672584efb1786dc7fd97f5b'), ObjectId('6672584efb1786dc7fd97f5c'), ObjectId('6672584efb1786dc7fd97f5d'), ObjectId('6672584efb1786dc7fd97f5e'), ObjectId('6672584efb1786dc7fd97f5f'), ObjectId('6672584efb1786dc7fd97f60'), ObjectId('6672584efb1786dc7fd97f61'), ObjectId('6672584efb1786dc7fd97f62')]

Print a list of the _id values of the inserted documents:

In [17]:
### Printed as above

Execute the next cell to insert a list of dicts with specified `_id`s:

In [18]:
mylist = [
  { "_id": 1, "name": "Paul", "address": "Mansfield Ave"},
  { "_id": 2, "name": "Rafa", "address": "Holder Drive"},
  { "_id": 3, "name": "Ashton", "address": "Axle St"},
  { "_id": 4, "name": "Benjamin", "address": "Green Dr"},
  { "_id": 5, "name": "Sally", "address": "Holly Blvd"},
  { "_id": 6, "name": "Helen", "address": "Castor Prom"},
  { "_id": 7, "name": "Craig", "address": "Parsons Way"},
  { "_id": 8, "name": "Betty", "address": "Watters St"},
  { "_id": 9, "name": "Aparna", "address": "Yonder Dr"},
  { "_id": 10, "name": "Kent", "address": "Garrison St"},
  { "_id": 11, "name": "Violet", "address": "Station St"},
  { "_id": 12, "name": "Svetlana", "address": "Wayman Ave"}
]
x = My_Collection.insert_many(mylist)
print(x.inserted_ids)

BulkWriteError: batch op errors occurred, full error: {'writeErrors': [{'index': 0, 'code': 11000, 'errmsg': 'E11000 duplicate key error collection: Test.shoppers index: _id_ dup key: { _id: 1 }', 'keyPattern': {'_id': 1}, 'keyValue': {'_id': 1}, 'op': {'_id': 1, 'name': 'Paul', 'address': 'Mansfield Ave'}}], 'writeConcernErrors': [], 'nInserted': 0, 'nUpserted': 0, 'nMatched': 0, 'nModified': 0, 'nRemoved': 0, 'upserted': []}

Now try inserting a new dict with an existing `_id`:

In [ ]:
# Warning -- This code will return an error as id no: 12 is already exists
x = My_Collection.insert_one({ "_id": 12, "name": "Lola", "address": "Prospect Dr"})

DuplicateKeyError: E11000 duplicate key error collection: Test.shoppers index: _id_ dup key: { _id: 12 }, full error: {'index': 0, 'code': 11000, 'errmsg': 'E11000 duplicate key error collection: Test.shoppers index: _id_ dup key: { _id: 12 }', 'keyPattern': {'_id': 1}, 'keyValue': {'_id': 12}}

So, if we want to manage `_id`s in code, we need to be careful!

This returns the first document in the collection:

In [ ]:
x = My_Collection.find_one()
print(x)

{'_id': ObjectId('6671ee6ec02800010feb65de'), 'name': 'example', 'value': 'New World'}

Do the same for the document containing "name" = "Ashton":

In [ ]:
# Find the document containing "name" = "Ashton"
result = My_Collection.find_one({"name": "Ashton"})

# Print the found document
print("Found document:", result)

Found document: {'_id': ObjectId('6671ef7dc02800010feb65e1'), 'name': 'Ashton', 'address': 'Axle St'}

This returns (and prints) all documents in the collection:

In [ ]:
for x in My_Collection.find():
    print(x)

{'_id': ObjectId('6671ee6ec02800010feb65de'), 'name': 'example', 'value': 'New World'}
{'_id': ObjectId('6671eebbc02800010feb65df'), 'name': 'Paul', 'address': 'Mansfield AVE'}
{'_id': ObjectId('6671ef4cc02800010feb65e0'), 'name': 'Rafa', 'address': 'Holder Drive'}
{'_id': ObjectId('6671ef7dc02800010feb65e1'), 'name': 'Ashton', 'address': 'Axle St'}
{'_id': ObjectId('6671ef7dc02800010feb65e2'), 'name': 'Benjamin', 'address': 'Green Dr'}
{'_id': ObjectId('6671ef7dc02800010feb65e3'), 'name': 'Sally', 'address': 'Holly Blvd'}
{'_id': ObjectId('6671ef7dc02800010feb65e4'), 'name': 'Helen', 'address': 'Castor Prom'}
{'_id': ObjectId('6671ef7dc02800010feb65e5'), 'name': 'Craig', 'address': 'Parsons Way'}
{'_id': ObjectId('6671ef7dc02800010feb65e6'), 'name': 'Betty', 'address': 'Watters St'}
{'_id': ObjectId('6671ef7dc02800010feb65e7'), 'name': 'Aparna', 'address': 'Yonder Dr'}
{'_id': ObjectId('6671ef7dc02800010feb65e8'), 'name': 'Kent', 'address': 'Garrison St'}
{'_id': ObjectId('6671ef7dc02800010feb65e9'), 'name': 'Violet', 'address': 'Station St'}
{'_id': ObjectId('6671ef7dc02800010feb65ea'), 'name': 'Svetlana', 'address': 'Wayman Ave'}
{'_id': ObjectId('6671efcec02800010feb65eb'), 'name': 'Bob', 'address': 'Axle St'}
{'_id': ObjectId('6671efcec02800010feb65ec'), 'name': 'Bib2', 'address': 'Green Dr'}
{'_id': ObjectId('6671efcec02800010feb65ed'), 'name': 'Bib3', 'address': 'Holly Blvd'}
{'_id': ObjectId('6671efcec02800010feb65ee'), 'name': 'Bob4', 'address': 'Castor Prom'}
{'_id': ObjectId('6671efcec02800010feb65ef'), 'name': 'Bob5', 'address': 'Parsons Way'}
{'_id': ObjectId('6671efcec02800010feb65f0'), 'name': 'Bib6', 'address': 'Watters St'}
{'_id': ObjectId('6671efcec02800010feb65f1'), 'name': 'Bob7', 'address': 'Yonder Dr'}
{'_id': ObjectId('6671efcec02800010feb65f2'), 'name': 'bob8', 'address': 'Garrison St'}
{'_id': ObjectId('6671efcec02800010feb65f3'), 'name': 'Bob9', 'address': 'Station St'}
{'_id': ObjectId('6671efcec02800010feb65f4'), 'name': 'Bob20', 'address': 'Wayman Ave'}
{'_id': 1, 'name': 'Paul', 'address': 'Mansfield Ave'}
{'_id': 2, 'name': 'Rafa', 'address': 'Holder Drive'}
{'_id': 3, 'name': 'Ashton', 'address': 'Axle St'}
{'_id': 4, 'name': 'Benjamin', 'address': 'Green Dr'}
{'_id': 5, 'name': 'Sally', 'address': 'Holly Blvd'}
{'_id': 6, 'name': 'Helen', 'address': 'Castor Prom'}
{'_id': 7, 'name': 'Craig', 'address': 'Parsons Way'}
{'_id': 8, 'name': 'Betty', 'address': 'Watters St'}
{'_id': 9, 'name': 'Aparna', 'address': 'Yonder Dr'}
{'_id': 10, 'name': 'Kent', 'address': 'Garrison St'}
{'_id': 11, 'name': 'Violet', 'address': 'Station St'}
{'_id': 12, 'name': 'Svetlana', 'address': 'Wayman Ave'}

This returns only the name and address fields:

In [ ]:
for x in My_Collection.find({},{ "_id": 0, "name": 1, "address": 1 }):
    print(x)

{'name': 'example'}
{'name': 'Paul', 'address': 'Mansfield AVE'}
{'name': 'Rafa', 'address': 'Holder Drive'}
{'name': 'Ashton', 'address': 'Axle St'}
{'name': 'Benjamin', 'address': 'Green Dr'}
{'name': 'Sally', 'address': 'Holly Blvd'}
{'name': 'Helen', 'address': 'Castor Prom'}
{'name': 'Craig', 'address': 'Parsons Way'}
{'name': 'Betty', 'address': 'Watters St'}
{'name': 'Aparna', 'address': 'Yonder Dr'}
{'name': 'Kent', 'address': 'Garrison St'}
{'name': 'Violet', 'address': 'Station St'}
{'name': 'Svetlana', 'address': 'Wayman Ave'}
{'name': 'Bob', 'address': 'Axle St'}
{'name': 'Bib2', 'address': 'Green Dr'}
{'name': 'Bib3', 'address': 'Holly Blvd'}
{'name': 'Bob4', 'address': 'Castor Prom'}
{'name': 'Bob5', 'address': 'Parsons Way'}
{'name': 'Bib6', 'address': 'Watters St'}
{'name': 'Bob7', 'address': 'Yonder Dr'}
{'name': 'bob8', 'address': 'Garrison St'}
{'name': 'Bob9', 'address': 'Station St'}
{'name': 'Bob20', 'address': 'Wayman Ave'}
{'name': 'Paul', 'address': 'Mansfield Ave'}
{'name': 'Rafa', 'address': 'Holder Drive'}
{'name': 'Ashton', 'address': 'Axle St'}
{'name': 'Benjamin', 'address': 'Green Dr'}
{'name': 'Sally', 'address': 'Holly Blvd'}
{'name': 'Helen', 'address': 'Castor Prom'}
{'name': 'Craig', 'address': 'Parsons Way'}
{'name': 'Betty', 'address': 'Watters St'}
{'name': 'Aparna', 'address': 'Yonder Dr'}
{'name': 'Kent', 'address': 'Garrison St'}
{'name': 'Violet', 'address': 'Station St'}
{'name': 'Svetlana', 'address': 'Wayman Ave'}

Print only the `_id` and name fields:

In [ ]:
for x in My_Collection.find({}, { "_id": 1, "name": 1 }):
    print(x)

{'_id': ObjectId('6671ee6ec02800010feb65de'), 'name': 'example'}
{'_id': ObjectId('6671eebbc02800010feb65df'), 'name': 'Paul'}
{'_id': ObjectId('6671ef4cc02800010feb65e0'), 'name': 'Rafa'}
{'_id': ObjectId('6671ef7dc02800010feb65e1'), 'name': 'Ashton'}
{'_id': ObjectId('6671ef7dc02800010feb65e2'), 'name': 'Benjamin'}
{'_id': ObjectId('6671ef7dc02800010feb65e3'), 'name': 'Sally'}
{'_id': ObjectId('6671ef7dc02800010feb65e4'), 'name': 'Helen'}
{'_id': ObjectId('6671ef7dc02800010feb65e5'), 'name': 'Craig'}
{'_id': ObjectId('6671ef7dc02800010feb65e6'), 'name': 'Betty'}
{'_id': ObjectId('6671ef7dc02800010feb65e7'), 'name': 'Aparna'}
{'_id': ObjectId('6671ef7dc02800010feb65e8'), 'name': 'Kent'}
{'_id': ObjectId('6671ef7dc02800010feb65e9'), 'name': 'Violet'}
{'_id': ObjectId('6671ef7dc02800010feb65ea'), 'name': 'Svetlana'}
{'_id': ObjectId('6671efcec02800010feb65eb'), 'name': 'Bob'}
{'_id': ObjectId('6671efcec02800010feb65ec'), 'name': 'Bib2'}
{'_id': ObjectId('6671efcec02800010feb65ed'), 'name': 'Bib3'}
{'_id': ObjectId('6671efcec02800010feb65ee'), 'name': 'Bob4'}
{'_id': ObjectId('6671efcec02800010feb65ef'), 'name': 'Bob5'}
{'_id': ObjectId('6671efcec02800010feb65f0'), 'name': 'Bib6'}
{'_id': ObjectId('6671efcec02800010feb65f1'), 'name': 'Bob7'}
{'_id': ObjectId('6671efcec02800010feb65f2'), 'name': 'bob8'}
{'_id': ObjectId('6671efcec02800010feb65f3'), 'name': 'Bob9'}
{'_id': ObjectId('6671efcec02800010feb65f4'), 'name': 'Bob20'}
{'_id': 1, 'name': 'Paul'}
{'_id': 2, 'name': 'Rafa'}
{'_id': 3, 'name': 'Ashton'}
{'_id': 4, 'name': 'Benjamin'}
{'_id': 5, 'name': 'Sally'}
{'_id': 6, 'name': 'Helen'}
{'_id': 7, 'name': 'Craig'}
{'_id': 8, 'name': 'Betty'}
{'_id': 9, 'name': 'Aparna'}
{'_id': 10, 'name': 'Kent'}
{'_id': 11, 'name': 'Violet'}
{'_id': 12, 'name': 'Svetlana'}

So, we must explicitly use `"_id": 0` to exclude it, but for other fields we simply omit them from the dict argument.

To include field conditionals in a query, we use `$` operators. This finds addresses starting with "S" or greater:

In [ ]:
myquery = { "address": { "$gt": "S" } }
mydoc = My_Collection.find(myquery)
for x in mydoc:
    print(x)

{'_id': ObjectId('6671ef7dc02800010feb65e6'), 'name': 'Betty', 'address': 'Watters St'}
{'_id': ObjectId('6671ef7dc02800010feb65e7'), 'name': 'Aparna', 'address': 'Yonder Dr'}
{'_id': ObjectId('6671ef7dc02800010feb65e9'), 'name': 'Violet', 'address': 'Station St'}
{'_id': ObjectId('6671ef7dc02800010feb65ea'), 'name': 'Svetlana', 'address': 'Wayman Ave'}
{'_id': ObjectId('6671efcec02800010feb65f0'), 'name': 'Bib6', 'address': 'Watters St'}
{'_id': ObjectId('6671efcec02800010feb65f1'), 'name': 'Bob7', 'address': 'Yonder Dr'}
{'_id': ObjectId('6671efcec02800010feb65f3'), 'name': 'Bob9', 'address': 'Station St'}
{'_id': ObjectId('6671efcec02800010feb65f4'), 'name': 'Bob20', 'address': 'Wayman Ave'}
{'_id': 8, 'name': 'Betty', 'address': 'Watters St'}
{'_id': 9, 'name': 'Aparna', 'address': 'Yonder Dr'}
{'_id': 11, 'name': 'Violet', 'address': 'Station St'}
{'_id': 12, 'name': 'Svetlana', 'address': 'Wayman Ave'}

Here are some more comparison operators:

            $gt, $gte, $eq, $in, $nin, $exists, $and, $or, $not
            
Experiment with these until you understand how to use them.

In [ ]:
# $gt (greater than)
result = My_Collection.find({"name": {"$gt": "M"}})
print("Names greater than 'M':")
for doc in result:
    print(doc)

# $gte (greater than or equal to)
result = My_Collection.find({"name": {"$gte": "Paul"}})
print("\nNames greater than or equal to 'Paul':")
for doc in result:
    print(doc)

# $eq (equal to)
result = My_Collection.find({"name": {"$eq": "Rafa"}})
print("\nNames equal to 'Rafa':")
for doc in result:
    print(doc)

# $in (in a list of values)
result = My_Collection.find({"name": {"$in": ["Rafa", "Ashton", "Violet"]}})
print("\nNames in ['Rafa', 'Ashton', 'Violet']:")
for doc in result:
    print(doc)

# $nin (not in a list of values)
result = My_Collection.find({"name": {"$nin": ["Rafa", "Ashton", "Violet"]}})
print("\nNames not in ['Rafa', 'Ashton', 'Violet']:")
for doc in result:
    print(doc)

# $exists (field exists)
result = My_Collection.find({"address": {"$exists": True}})
print("\nDocuments where 'address' field exists:")
for doc in result:
    print(doc)

# $and (and condition)
result = My_Collection.find({"$and": [{"name": "Paul"}, {"address": "Mansfield AVE"}]})
print("\nDocuments where name is 'Paul' and address is 'Mansfield AVE':")
for doc in result:
    print(doc)

# $or (or condition)
result = My_Collection.find({"$or": [{"name": "Paul"}, {"address": "Holder Drive"}]})
print("\nDocuments where name is 'Paul' or address is 'Holder Drive':")
for doc in result:
    print(doc)

# $not (not condition)
result = My_Collection.find({"name": {"$not": {"$eq": "Rafa"}}})
print("\nDocuments where name is not 'Rafa':")
for doc in result:
    print(doc)

Names greater than 'M':
{'_id': ObjectId('6671ee6ec02800010feb65de'), 'name': 'example', 'value': 'New World'}
{'_id': ObjectId('6671eebbc02800010feb65df'), 'name': 'Paul', 'address': 'Mansfield AVE'}
{'_id': ObjectId('6671ef4cc02800010feb65e0'), 'name': 'Rafa', 'address': 'Holder Drive'}
{'_id': ObjectId('6671ef7dc02800010feb65e3'), 'name': 'Sally', 'address': 'Holly Blvd'}
{'_id': ObjectId('6671ef7dc02800010feb65e9'), 'name': 'Violet', 'address': 'Station St'}
{'_id': ObjectId('6671ef7dc02800010feb65ea'), 'name': 'Svetlana', 'address': 'Wayman Ave'}
{'_id': ObjectId('6671efcec02800010feb65f2'), 'name': 'bob8', 'address': 'Garrison St'}
{'_id': 1, 'name': 'Paul', 'address': 'Mansfield Ave'}
{'_id': 2, 'name': 'Rafa', 'address': 'Holder Drive'}
{'_id': 5, 'name': 'Sally', 'address': 'Holly Blvd'}
{'_id': 11, 'name': 'Violet', 'address': 'Station St'}
{'_id': 12, 'name': 'Svetlana', 'address': 'Wayman Ave'}

Names greater than or equal to 'Paul':
{'_id': ObjectId('6671ee6ec02800010feb65de'), 'name': 'example', 'value': 'New World'}
{'_id': ObjectId('6671eebbc02800010feb65df'), 'name': 'Paul', 'address': 'Mansfield AVE'}
{'_id': ObjectId('6671ef4cc02800010feb65e0'), 'name': 'Rafa', 'address': 'Holder Drive'}
{'_id': ObjectId('6671ef7dc02800010feb65e3'), 'name': 'Sally', 'address': 'Holly Blvd'}
{'_id': ObjectId('6671ef7dc02800010feb65e9'), 'name': 'Violet', 'address': 'Station St'}
{'_id': ObjectId('6671ef7dc02800010feb65ea'), 'name': 'Svetlana', 'address': 'Wayman Ave'}
{'_id': ObjectId('6671efcec02800010feb65f2'), 'name': 'bob8', 'address': 'Garrison St'}
{'_id': 1, 'name': 'Paul', 'address': 'Mansfield Ave'}
{'_id': 2, 'name': 'Rafa', 'address': 'Holder Drive'}
{'_id': 5, 'name': 'Sally', 'address': 'Holly Blvd'}
{'_id': 11, 'name': 'Violet', 'address': 'Station St'}
{'_id': 12, 'name': 'Svetlana', 'address': 'Wayman Ave'}

Names equal to 'Rafa':
{'_id': ObjectId('6671ef4cc02800010feb65e0'), 'name': 'Rafa', 'address': 'Holder Drive'}
{'_id': 2, 'name': 'Rafa', 'address': 'Holder Drive'}

Names in ['Rafa', 'Ashton', 'Violet']:
{'_id': ObjectId('6671ef4cc02800010feb65e0'), 'name': 'Rafa', 'address': 'Holder Drive'}
{'_id': ObjectId('6671ef7dc02800010feb65e1'), 'name': 'Ashton', 'address': 'Axle St'}
{'_id': ObjectId('6671ef7dc02800010feb65e9'), 'name': 'Violet', 'address': 'Station St'}
{'_id': 2, 'name': 'Rafa', 'address': 'Holder Drive'}
{'_id': 3, 'name': 'Ashton', 'address': 'Axle St'}
{'_id': 11, 'name': 'Violet', 'address': 'Station St'}

Names not in ['Rafa', 'Ashton', 'Violet']:
{'_id': ObjectId('6671ee6ec02800010feb65de'), 'name': 'example', 'value': 'New World'}
{'_id': ObjectId('6671eebbc02800010feb65df'), 'name': 'Paul', 'address': 'Mansfield AVE'}
{'_id': ObjectId('6671ef7dc02800010feb65e2'), 'name': 'Benjamin', 'address': 'Green Dr'}
{'_id': ObjectId('6671ef7dc02800010feb65e3'), 'name': 'Sally', 'address': 'Holly Blvd'}
{'_id': ObjectId('6671ef7dc02800010feb65e4'), 'name': 'Helen', 'address': 'Castor Prom'}
{'_id': ObjectId('6671ef7dc02800010feb65e5'), 'name': 'Craig', 'address': 'Parsons Way'}
{'_id': ObjectId('6671ef7dc02800010feb65e6'), 'name': 'Betty', 'address': 'Watters St'}
{'_id': ObjectId('6671ef7dc02800010feb65e7'), 'name': 'Aparna', 'address': 'Yonder Dr'}
{'_id': ObjectId('6671ef7dc02800010feb65e8'), 'name': 'Kent', 'address': 'Garrison St'}
{'_id': ObjectId('6671ef7dc02800010feb65ea'), 'name': 'Svetlana', 'address': 'Wayman Ave'}
{'_id': ObjectId('6671efcec02800010feb65eb'), 'name': 'Bob', 'address': 'Axle St'}
{'_id': ObjectId('6671efcec02800010feb65ec'), 'name': 'Bib2', 'address': 'Green Dr'}
{'_id': ObjectId('6671efcec02800010feb65ed'), 'name': 'Bib3', 'address': 'Holly Blvd'}
{'_id': ObjectId('6671efcec02800010feb65ee'), 'name': 'Bob4', 'address': 'Castor Prom'}
{'_id': ObjectId('6671efcec02800010feb65ef'), 'name': 'Bob5', 'address': 'Parsons Way'}
{'_id': ObjectId('6671efcec02800010feb65f0'), 'name': 'Bib6', 'address': 'Watters St'}
{'_id': ObjectId('6671efcec02800010feb65f1'), 'name': 'Bob7', 'address': 'Yonder Dr'}
{'_id': ObjectId('6671efcec02800010feb65f2'), 'name': 'bob8', 'address': 'Garrison St'}
{'_id': ObjectId('6671efcec02800010feb65f3'), 'name': 'Bob9', 'address': 'Station St'}
{'_id': ObjectId('6671efcec02800010feb65f4'), 'name': 'Bob20', 'address': 'Wayman Ave'}
{'_id': 1, 'name': 'Paul', 'address': 'Mansfield Ave'}
{'_id': 4, 'name': 'Benjamin', 'address': 'Green Dr'}
{'_id': 5, 'name': 'Sally', 'address': 'Holly Blvd'}
{'_id': 6, 'name': 'Helen', 'address': 'Castor Prom'}
{'_id': 7, 'name': 'Craig', 'address': 'Parsons Way'}
{'_id': 8, 'name': 'Betty', 'address': 'Watters St'}
{'_id': 9, 'name': 'Aparna', 'address': 'Yonder Dr'}
{'_id': 10, 'name': 'Kent', 'address': 'Garrison St'}
{'_id': 12, 'name': 'Svetlana', 'address': 'Wayman Ave'}

Documents where 'address' field exists:
{'_id': ObjectId('6671eebbc02800010feb65df'), 'name': 'Paul', 'address': 'Mansfield AVE'}
{'_id': ObjectId('6671ef4cc02800010feb65e0'), 'name': 'Rafa', 'address': 'Holder Drive'}
{'_id': ObjectId('6671ef7dc02800010feb65e1'), 'name': 'Ashton', 'address': 'Axle St'}
{'_id': ObjectId('6671ef7dc02800010feb65e2'), 'name': 'Benjamin', 'address': 'Green Dr'}
{'_id': ObjectId('6671ef7dc02800010feb65e3'), 'name': 'Sally', 'address': 'Holly Blvd'}
{'_id': ObjectId('6671ef7dc02800010feb65e4'), 'name': 'Helen', 'address': 'Castor Prom'}
{'_id': ObjectId('6671ef7dc02800010feb65e5'), 'name': 'Craig', 'address': 'Parsons Way'}
{'_id': ObjectId('6671ef7dc02800010feb65e6'), 'name': 'Betty', 'address': 'Watters St'}
{'_id': ObjectId('6671ef7dc02800010feb65e7'), 'name': 'Aparna', 'address': 'Yonder Dr'}
{'_id': ObjectId('6671ef7dc02800010feb65e8'), 'name': 'Kent', 'address': 'Garrison St'}
{'_id': ObjectId('6671ef7dc02800010feb65e9'), 'name': 'Violet', 'address': 'Station St'}
{'_id': ObjectId('6671ef7dc02800010feb65ea'), 'name': 'Svetlana', 'address': 'Wayman Ave'}
{'_id': ObjectId('6671efcec02800010feb65eb'), 'name': 'Bob', 'address': 'Axle St'}
{'_id': ObjectId('6671efcec02800010feb65ec'), 'name': 'Bib2', 'address': 'Green Dr'}
{'_id': ObjectId('6671efcec02800010feb65ed'), 'name': 'Bib3', 'address': 'Holly Blvd'}
{'_id': ObjectId('6671efcec02800010feb65ee'), 'name': 'Bob4', 'address': 'Castor Prom'}
{'_id': ObjectId('6671efcec02800010feb65ef'), 'name': 'Bob5', 'address': 'Parsons Way'}
{'_id': ObjectId('6671efcec02800010feb65f0'), 'name': 'Bib6', 'address': 'Watters St'}
{'_id': ObjectId('6671efcec02800010feb65f1'), 'name': 'Bob7', 'address': 'Yonder Dr'}
{'_id': ObjectId('6671efcec02800010feb65f2'), 'name': 'bob8', 'address': 'Garrison St'}
{'_id': ObjectId('6671efcec02800010feb65f3'), 'name': 'Bob9', 'address': 'Station St'}
{'_id': ObjectId('6671efcec02800010feb65f4'), 'name': 'Bob20', 'address': 'Wayman Ave'}
{'_id': 1, 'name': 'Paul', 'address': 'Mansfield Ave'}
{'_id': 2, 'name': 'Rafa', 'address': 'Holder Drive'}
{'_id': 3, 'name': 'Ashton', 'address': 'Axle St'}
{'_id': 4, 'name': 'Benjamin', 'address': 'Green Dr'}
{'_id': 5, 'name': 'Sally', 'address': 'Holly Blvd'}
{'_id': 6, 'name': 'Helen', 'address': 'Castor Prom'}
{'_id': 7, 'name': 'Craig', 'address': 'Parsons Way'}
{'_id': 8, 'name': 'Betty', 'address': 'Watters St'}
{'_id': 9, 'name': 'Aparna', 'address': 'Yonder Dr'}
{'_id': 10, 'name': 'Kent', 'address': 'Garrison St'}
{'_id': 11, 'name': 'Violet', 'address': 'Station St'}
{'_id': 12, 'name': 'Svetlana', 'address': 'Wayman Ave'}

Documents where name is 'Paul' and address is 'Mansfield AVE':
{'_id': ObjectId('6671eebbc02800010feb65df'), 'name': 'Paul', 'address': 'Mansfield AVE'}

Documents where name is 'Paul' or address is 'Holder Drive':
{'_id': ObjectId('6671eebbc02800010feb65df'), 'name': 'Paul', 'address': 'Mansfield AVE'}
{'_id': ObjectId('6671ef4cc02800010feb65e0'), 'name': 'Rafa', 'address': 'Holder Drive'}
{'_id': 1, 'name': 'Paul', 'address': 'Mansfield Ave'}
{'_id': 2, 'name': 'Rafa', 'address': 'Holder Drive'}

Documents where name is not 'Rafa':
{'_id': ObjectId('6671ee6ec02800010feb65de'), 'name': 'example', 'value': 'New World'}
{'_id': ObjectId('6671eebbc02800010feb65df'), 'name': 'Paul', 'address': 'Mansfield AVE'}
{'_id': ObjectId('6671ef7dc02800010feb65e1'), 'name': 'Ashton', 'address': 'Axle St'}
{'_id': ObjectId('6671ef7dc02800010feb65e2'), 'name': 'Benjamin', 'address': 'Green Dr'}
{'_id': ObjectId('6671ef7dc02800010feb65e3'), 'name': 'Sally', 'address': 'Holly Blvd'}
{'_id': ObjectId('6671ef7dc02800010feb65e4'), 'name': 'Helen', 'address': 'Castor Prom'}
{'_id': ObjectId('6671ef7dc02800010feb65e5'), 'name': 'Craig', 'address': 'Parsons Way'}
{'_id': ObjectId('6671ef7dc02800010feb65e6'), 'name': 'Betty', 'address': 'Watters St'}
{'_id': ObjectId('6671ef7dc02800010feb65e7'), 'name': 'Aparna', 'address': 'Yonder Dr'}
{'_id': ObjectId('6671ef7dc02800010feb65e8'), 'name': 'Kent', 'address': 'Garrison St'}
{'_id': ObjectId('6671ef7dc02800010feb65e9'), 'name': 'Violet', 'address': 'Station St'}
{'_id': ObjectId('6671ef7dc02800010feb65ea'), 'name': 'Svetlana', 'address': 'Wayman Ave'}
{'_id': ObjectId('6671efcec02800010feb65eb'), 'name': 'Bob', 'address': 'Axle St'}
{'_id': ObjectId('6671efcec02800010feb65ec'), 'name': 'Bib2', 'address': 'Green Dr'}
{'_id': ObjectId('6671efcec02800010feb65ed'), 'name': 'Bib3', 'address': 'Holly Blvd'}
{'_id': ObjectId('6671efcec02800010feb65ee'), 'name': 'Bob4', 'address': 'Castor Prom'}
{'_id': ObjectId('6671efcec02800010feb65ef'), 'name': 'Bob5', 'address': 'Parsons Way'}
{'_id': ObjectId('6671efcec02800010feb65f0'), 'name': 'Bib6', 'address': 'Watters St'}
{'_id': ObjectId('6671efcec02800010feb65f1'), 'name': 'Bob7', 'address': 'Yonder Dr'}
{'_id': ObjectId('6671efcec02800010feb65f2'), 'name': 'bob8', 'address': 'Garrison St'}
{'_id': ObjectId('6671efcec02800010feb65f3'), 'name': 'Bob9', 'address': 'Station St'}
{'_id': ObjectId('6671efcec02800010feb65f4'), 'name': 'Bob20', 'address': 'Wayman Ave'}
{'_id': 1, 'name': 'Paul', 'address': 'Mansfield Ave'}
{'_id': 3, 'name': 'Ashton', 'address': 'Axle St'}
{'_id': 4, 'name': 'Benjamin', 'address': 'Green Dr'}
{'_id': 5, 'name': 'Sally', 'address': 'Holly Blvd'}
{'_id': 6, 'name': 'Helen', 'address': 'Castor Prom'}
{'_id': 7, 'name': 'Craig', 'address': 'Parsons Way'}
{'_id': 8, 'name': 'Betty', 'address': 'Watters St'}
{'_id': 9, 'name': 'Aparna', 'address': 'Yonder Dr'}
{'_id': 10, 'name': 'Kent', 'address': 'Garrison St'}
{'_id': 11, 'name': 'Violet', 'address': 'Station St'}
{'_id': 12, 'name': 'Svetlana', 'address': 'Wayman Ave'}

Now find all docs with an address that begins with "W":  
(HINT: The value for "address" in the argument should be the regex-based dict { "$regex": "^W" }.)

In [ ]:
#ANSWER:
result = My_Collection.find({"address": {"$regex": "^W"}})

# Print the found documents
print("Documents with an address beginning with 'W':")
for doc in result:
    print(doc)

Documents with an address beginning with 'W':
{'_id': ObjectId('6671ef7dc02800010feb65e6'), 'name': 'Betty', 'address': 'Watters St'}
{'_id': ObjectId('6671ef7dc02800010feb65ea'), 'name': 'Svetlana', 'address': 'Wayman Ave'}
{'_id': ObjectId('6671efcec02800010feb65f0'), 'name': 'Bib6', 'address': 'Watters St'}
{'_id': ObjectId('6671efcec02800010feb65f4'), 'name': 'Bob20', 'address': 'Wayman Ave'}
{'_id': 8, 'name': 'Betty', 'address': 'Watters St'}
{'_id': 12, 'name': 'Svetlana', 'address': 'Wayman Ave'}

Sorting can be applied by invoking the sort() method after the find() method. Sort the collection by the name field:

In [ ]:
#ANSWER:
# Find all documents and sort by the "name" field
result = My_Collection.find().sort("name", 1)  # 1 for ascending order, -1 for descending order

# Print the found documents
print("Documents sorted by the 'name' field:")
for doc in result:
    print(doc)

Documents sorted by the 'name' field:
{'_id': ObjectId('6671ef7dc02800010feb65e7'), 'name': 'Aparna', 'address': 'Yonder Dr'}
{'_id': 9, 'name': 'Aparna', 'address': 'Yonder Dr'}
{'_id': ObjectId('6671ef7dc02800010feb65e1'), 'name': 'Ashton', 'address': 'Axle St'}
{'_id': 3, 'name': 'Ashton', 'address': 'Axle St'}
{'_id': ObjectId('6671ef7dc02800010feb65e2'), 'name': 'Benjamin', 'address': 'Green Dr'}
{'_id': 4, 'name': 'Benjamin', 'address': 'Green Dr'}
{'_id': ObjectId('6671ef7dc02800010feb65e6'), 'name': 'Betty', 'address': 'Watters St'}
{'_id': 8, 'name': 'Betty', 'address': 'Watters St'}
{'_id': ObjectId('6671efcec02800010feb65ec'), 'name': 'Bib2', 'address': 'Green Dr'}
{'_id': ObjectId('6671efcec02800010feb65ed'), 'name': 'Bib3', 'address': 'Holly Blvd'}
{'_id': ObjectId('6671efcec02800010feb65f0'), 'name': 'Bib6', 'address': 'Watters St'}
{'_id': ObjectId('6671efcec02800010feb65eb'), 'name': 'Bob', 'address': 'Axle St'}
{'_id': ObjectId('6671efcec02800010feb65f4'), 'name': 'Bob20', 'address': 'Wayman Ave'}
{'_id': ObjectId('6671efcec02800010feb65ee'), 'name': 'Bob4', 'address': 'Castor Prom'}
{'_id': ObjectId('6671efcec02800010feb65ef'), 'name': 'Bob5', 'address': 'Parsons Way'}
{'_id': ObjectId('6671efcec02800010feb65f1'), 'name': 'Bob7', 'address': 'Yonder Dr'}
{'_id': ObjectId('6671efcec02800010feb65f3'), 'name': 'Bob9', 'address': 'Station St'}
{'_id': ObjectId('6671ef7dc02800010feb65e5'), 'name': 'Craig', 'address': 'Parsons Way'}
{'_id': 7, 'name': 'Craig', 'address': 'Parsons Way'}
{'_id': ObjectId('6671ef7dc02800010feb65e4'), 'name': 'Helen', 'address': 'Castor Prom'}
{'_id': 6, 'name': 'Helen', 'address': 'Castor Prom'}
{'_id': ObjectId('6671ef7dc02800010feb65e8'), 'name': 'Kent', 'address': 'Garrison St'}
{'_id': 10, 'name': 'Kent', 'address': 'Garrison St'}
{'_id': ObjectId('6671eebbc02800010feb65df'), 'name': 'Paul', 'address': 'Mansfield AVE'}
{'_id': 1, 'name': 'Paul', 'address': 'Mansfield Ave'}
{'_id': ObjectId('6671ef4cc02800010feb65e0'), 'name': 'Rafa', 'address': 'Holder Drive'}
{'_id': 2, 'name': 'Rafa', 'address': 'Holder Drive'}
{'_id': ObjectId('6671ef7dc02800010feb65e3'), 'name': 'Sally', 'address': 'Holly Blvd'}
{'_id': 5, 'name': 'Sally', 'address': 'Holly Blvd'}
{'_id': ObjectId('6671ef7dc02800010feb65ea'), 'name': 'Svetlana', 'address': 'Wayman Ave'}
{'_id': 12, 'name': 'Svetlana', 'address': 'Wayman Ave'}
{'_id': ObjectId('6671ef7dc02800010feb65e9'), 'name': 'Violet', 'address': 'Station St'}
{'_id': 11, 'name': 'Violet', 'address': 'Station St'}
{'_id': ObjectId('6671efcec02800010feb65f2'), 'name': 'bob8', 'address': 'Garrison St'}
{'_id': ObjectId('6671ee6ec02800010feb65de'), 'name': 'example', 'value': 'New World'}

Now sort in reverse order (HINT: The sort() method takes an optional second parameter.)

In [ ]:
#ANSWER
# Find all documents and sort by the "name" field in descending order
result = My_Collection.find().sort("name", -1)  # -1 for descending order

# Print the found documents
print("Documents sorted by the 'name' field in descending order:")
for doc in result:
    print(doc)

Documents sorted by the 'name' field in descending order:
{'_id': ObjectId('6671ee6ec02800010feb65de'), 'name': 'example', 'value': 'New World'}
{'_id': ObjectId('6671efcec02800010feb65f2'), 'name': 'bob8', 'address': 'Garrison St'}
{'_id': ObjectId('6671ef7dc02800010feb65e9'), 'name': 'Violet', 'address': 'Station St'}
{'_id': 11, 'name': 'Violet', 'address': 'Station St'}
{'_id': ObjectId('6671ef7dc02800010feb65ea'), 'name': 'Svetlana', 'address': 'Wayman Ave'}
{'_id': 12, 'name': 'Svetlana', 'address': 'Wayman Ave'}
{'_id': ObjectId('6671ef7dc02800010feb65e3'), 'name': 'Sally', 'address': 'Holly Blvd'}
{'_id': 5, 'name': 'Sally', 'address': 'Holly Blvd'}
{'_id': ObjectId('6671ef4cc02800010feb65e0'), 'name': 'Rafa', 'address': 'Holder Drive'}
{'_id': 2, 'name': 'Rafa', 'address': 'Holder Drive'}
{'_id': ObjectId('6671eebbc02800010feb65df'), 'name': 'Paul', 'address': 'Mansfield AVE'}
{'_id': 1, 'name': 'Paul', 'address': 'Mansfield Ave'}
{'_id': ObjectId('6671ef7dc02800010feb65e8'), 'name': 'Kent', 'address': 'Garrison St'}
{'_id': 10, 'name': 'Kent', 'address': 'Garrison St'}
{'_id': ObjectId('6671ef7dc02800010feb65e4'), 'name': 'Helen', 'address': 'Castor Prom'}
{'_id': 6, 'name': 'Helen', 'address': 'Castor Prom'}
{'_id': ObjectId('6671ef7dc02800010feb65e5'), 'name': 'Craig', 'address': 'Parsons Way'}
{'_id': 7, 'name': 'Craig', 'address': 'Parsons Way'}
{'_id': ObjectId('6671efcec02800010feb65f3'), 'name': 'Bob9', 'address': 'Station St'}
{'_id': ObjectId('6671efcec02800010feb65f1'), 'name': 'Bob7', 'address': 'Yonder Dr'}
{'_id': ObjectId('6671efcec02800010feb65ef'), 'name': 'Bob5', 'address': 'Parsons Way'}
{'_id': ObjectId('6671efcec02800010feb65ee'), 'name': 'Bob4', 'address': 'Castor Prom'}
{'_id': ObjectId('6671efcec02800010feb65f4'), 'name': 'Bob20', 'address': 'Wayman Ave'}
{'_id': ObjectId('6671efcec02800010feb65eb'), 'name': 'Bob', 'address': 'Axle St'}
{'_id': ObjectId('6671efcec02800010feb65f0'), 'name': 'Bib6', 'address': 'Watters St'}
{'_id': ObjectId('6671efcec02800010feb65ed'), 'name': 'Bib3', 'address': 'Holly Blvd'}
{'_id': ObjectId('6671efcec02800010feb65ec'), 'name': 'Bib2', 'address': 'Green Dr'}
{'_id': ObjectId('6671ef7dc02800010feb65e6'), 'name': 'Betty', 'address': 'Watters St'}
{'_id': 8, 'name': 'Betty', 'address': 'Watters St'}
{'_id': ObjectId('6671ef7dc02800010feb65e2'), 'name': 'Benjamin', 'address': 'Green Dr'}
{'_id': 4, 'name': 'Benjamin', 'address': 'Green Dr'}
{'_id': ObjectId('6671ef7dc02800010feb65e1'), 'name': 'Ashton', 'address': 'Axle St'}
{'_id': 3, 'name': 'Ashton', 'address': 'Axle St'}
{'_id': ObjectId('6671ef7dc02800010feb65e7'), 'name': 'Aparna', 'address': 'Yonder Dr'}
{'_id': 9, 'name': 'Aparna', 'address': 'Yonder Dr'}

A single record can be deleted by specifying some criterion:

In [ ]:
My_Collection.delete_one({ "address": "Castor Prom" })

DeleteResult({'n': 1, 'ok': 1.0}, acknowledged=True)

Now delete all docs with the 2-digit `Id` values:

In [ ]:
#ANSWER:
# Delete all documents with 2-digit _id values
delete_result = My_Collection.delete_many({"_id": {"$regex": "^\d{2}$"}})

# Print the number of documents deleted
print("Number of documents deleted:", delete_result.deleted_count)

Number of documents deleted: 0

<>:3: SyntaxWarning: invalid escape sequence '\d'
<>:3: SyntaxWarning: invalid escape sequence '\d'
/var/folders/jk/x0srxcqj6mx0vmvp43lqpm2c6bm373/T/ipykernel_1063/512158268.py:3: SyntaxWarning: invalid escape sequence '\d'
  delete_result = My_Collection.delete_many({"_id": {"$regex": "^\d{2}$"}})

This would delete all docs:
`x = mycol.delete_many({})`

This would remove the collection:
`mycol.drop()`

This would drop the database:
`client.drop_database('test')`

Change the first instance of "address" == "Garrison St" to "Somers Ave" using update_one().  
(HINT: The 1st parameter of update_one() is the criterion (query); the 2nd is dict specifying the field to change and its new value.)

In [19]:
#ANSWER:
query = {"address": "Garrison St"}

# Define the update operation to change the address to "Somers Ave"
update = {"$set": {"address": "Somers Ave"}}

# Perform the update operation
result = My_Collection.update_one(query, update)

# Output the result of the update operation
if result.modified_count > 0:
    print("Document updated successfully.")
else:
    print("No document matched the query.")

Document updated successfully.

The limit() method can be applied after the find() method to limit the number of docs returned. Show the first 5 docs:

In [20]:
#ANSWER:
query = {}

# Execute the query with a limit of 5 documents
documents = My_Collection.find(query).limit(5)

# Print the first 5 documents
for doc in documents:
    print(doc)

{'_id': ObjectId('6671ee6ec02800010feb65de'), 'name': 'example', 'value': 'New World'}
{'_id': ObjectId('6671eebbc02800010feb65df'), 'name': 'Paul', 'address': 'Mansfield AVE'}
{'_id': ObjectId('6671ef4cc02800010feb65e0'), 'name': 'Rafa', 'address': 'Holder Drive'}
{'_id': ObjectId('6671ef7dc02800010feb65e1'), 'name': 'Ashton', 'address': 'Axle St'}
{'_id': ObjectId('6671ef7dc02800010feb65e2'), 'name': 'Benjamin', 'address': 'Green Dr'}

## PyMongo for Data Science

MongoDB has many more features of interest to developers, but the main focus of a data scientist will be wrangling and munging the data. It may or may not be desirable to do all the data munging in Pandas; for a large, distributed database, it may be imperative to perform aggregation in MongoDB.

In [21]:
# Ref:  https://rsandstroem.github.io/MongoDBDemo.html

import pandas as pd
import numpy as np

The following code in the next few cells, will create a database named "command_test" which populates its data from a local JSON file called dummyData.json (you need to download this from the Google Classroom DATA folder) using the mongoimport program.

**Step 1**. Using the command prompt (Windows) or Terminal (Mac) change to the directory containing the file mongoimport.exe (example: cd "C:\Program Files\MongoDB\Tools\100\bin")

**Step 2**. After you have changed your directory, copy/paste the line below in the command prompt/ terminal after modifying "dummydata.json" to include the path on your system where the file is located:
<br>

      mongoimport --db command_test --collection people --drop --file "dummyData.json"       

- db: stands for database name that you use --> in our case, it is "command_test"
- collection: stands for the collection you created within the database --> in our case it is "people"
- file: stands for the file path to your "dummyData.json" file, which you downloaded from our Google Classroom DATA folder - you may need to modify "dummyData.json"

**Step 3**. Copy/paste the line below into the command prompt or terminal:
<br>

    mongoimport -d command_test -c people --file "dummyData.json"

In [22]:
client = MongoClient('localhost', 27017) #connects to your local mongoDB

If the above is successful, running the next cell should produce three records corresponding to the youngest people.

In [23]:
db = client.command_test
collection = db.people
cursor = collection.find().sort('Age',pymongo.ASCENDING).limit(3)
for doc in cursor:
    print (doc)

{'_id': ObjectId('66725b9b526f98efd7c28d39'), 'Name': 'Sawyer, Neve M.', 'Age': 18, 'Country': 'Serbia', 'Location': '-34.37446, 174.0838'}
{'_id': ObjectId('66725b9b526f98efd7c28cd8'), 'Name': 'Townsend, Cadman I.', 'Age': 19, 'Country': 'Somalia', 'Location': '-87.69188, -144.16138'}
{'_id': ObjectId('66725b9b526f98efd7c28d29'), 'Name': 'Shepard, Peter R.', 'Age': 20, 'Country': 'Saint Helena, Ascension and Tristan da Cunha', 'Location': '28.90219, 66.86083'}

Here is a small demonstration of the MongoDB aggregation framework. We want to create a table of the number of persons in each country and their average age. To do it we group by country. We extract the results from MongoDB aggregation into a pandas dataframe, and use the country as index.

In [24]:
pipeline = [
        {"$group": {"_id":"$Country",
             "AvgAge":{"$avg":"$Age"},
             "Count":{"$sum":1},
        }},
        {"$sort":{"Count":-1,"AvgAge":1}}
]
aggResult = collection.aggregate(pipeline) # returns a cursor

df1 = pd.DataFrame(list(aggResult)) # use list to turn the cursor to an array of documents
df1 = df1.set_index("_id")
df1.head()

                                      AvgAge  Count
_id
China                              46.250000      4
Antarctica                         46.333333      3
Guernsey                           48.333333      3
Puerto Rico                        26.500000      2
Heard Island and Mcdonald Islands  29.000000      2

For simple cases one can either use a cursor through find("search term") or use the "$match" operator in the aggregation framework, like this:

In [25]:
pipeline = [
        {"$match": {"Country":"China"}},
]
aggResult = collection.aggregate(pipeline)
df2 = pd.DataFrame(list(aggResult))
df2.head()

,_id,Name,Age,Country,Location
0,66725b9b526f98efd7c28d08,"Holman, Hasad O.",32,China,"39.9127, 116.3833"
1,66725b9b526f98efd7c28d1a,"Byrd, Dante A.",43,China,"31.2, 121.5"
2,66725b9b526f98efd7c28d1e,"Carney, Tamekah I.",57,China,"45.75, 126.6333"
3,66725b9b526f98efd7c28d2a,"Mayer, Violet U.",53,China,"40, 95"

Now we can apply all the power of Python libraries to analyse and visualise the data. Here, we will use the folium package to plot markers for the locations of the people we just found in China (click on a marker to see their data):

In [26]:
# Un-comment and execute to install folium pkg (1st time only):
# import sys
# !{sys.executable} -m pip install folium

In [27]:
import folium
print ('Folium version ' + folium.__version__)

world_map = folium.Map(location = [35, 100], zoom_start = 4)
for i in range(len(df2)):
    location = [float(loc) for loc in df2.Location[i].split(',')]
    folium.Marker(location = location, popup = df2.Name[i] + ', age:' + str(df2.Age[i])).add_to(world_map)

world_map

Folium version 0.16.0

In [28]:
#Finally drop the databases created in the lab:
print(client.list_database_names())
client.drop_database('test')
client.drop_database('command_test')
print(client.list_database_names())

['Test', 'admin', 'command_test', 'config', 'local']
['Test', 'admin', 'config', 'local']

## HOMEWORK:

1. Read up on how to perform aggregation in mongoDB. Insert a duplicate record into the collection:
        mydict = {"name": "Benjamin", "address": "Green Dr"}
   Now write a command to find docs with a duplicate "name" field (using aggregation) and remove them.  
   Print the collection.

In [29]:
# Establish a connection to the MongoDB server
client = MongoClient('mongodb://localhost:27017/')

# Select the database and collection
db = client['shoppers']
collection = db['My_Collection']

# Insert a duplicate record
mydict = {"name": "Benjamin", "address": "Green Dr"}
collection.insert_one(mydict)

# Aggregate to find duplicates based on the "name" field
pipeline = [
    {"$group": {"_id": "$name", "count": {"$sum": 1}, "docs": {"$push": "$_id"}}},
    {"$match": {"count": {"$gt": 1}}}
]

duplicate_docs = list(collection.aggregate(pipeline))

# Remove duplicates, keeping only one document for each "name"
for doc in duplicate_docs:
    # Keep the first document and remove the rest
    ids_to_keep = doc["docs"][1:]  # skip the first document
    collection.delete_many({"_id": {"$in": ids_to_keep}})

# Print the collection
for doc in collection.find():
    print(doc)

{'_id': ObjectId('66725deefb1786dc7fd97f65'), 'name': 'Benjamin', 'address': 'Green Dr'}

2. Read up on how to apply indexes in mongoDB. Create an index on the "name" and "address" fields in this collection.
   Print the indexes for the collection.

In [30]:
# Create an index on the "name" field
collection.create_index("name")

# Create an index on the "address" field
collection.create_index("address")

# Print the indexes for the collection
indexes = collection.index_information()

for index_name, index_info in indexes.items():
    print(f"Index name: {index_name}")
    print(f"Index info: {index_info}")
    print()

Index name: _id_
Index info: {'v': 2, 'key': [('_id', 1)]}

Index name: name_1
Index info: {'v': 2, 'key': [('name', 1)]}

Index name: address_1
Index info: {'v': 2, 'key': [('address', 1)]}



>
>
>



---



---



> > > > > > > > >  2024 Institute of Data


---



---